<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FreshFeet</title>
    <link rel="stylesheet" type="text/css" media="all"
    href="/css/form.css" th:href="@{/css/form.css}"/>
</head>
<body>
    <div th:replace="~{fragments/sidebar}"::sidebar></div>
    <div>
        <div id="header">
    <h1>Add Product</h1>
            </div>
    <div>
    <form th:action="@{/product/add}" method="post">
        <label>Product Name</label><br>
        <input type="text" id="productname" name="productname"><br>
        <label>Description</label><br>
        <textarea id="description" name="description" rows="4" cols="50"></textarea><br>
        <label>Main Category</label><br> <!-- This has to be a mapped drop-down menu from database -->
        <select id="mainCategory" th:field="${categories}">
            <option value="">Select an option</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}" th:if="${category.parentCategory == null}"></option>
        </select><br>
        <label>Sub Category</label><br>
        <select id="subCategory" th:field="*{categories}" disabled>
             <option value="">Select an option</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}" th:attr="fk-data=${category.parentCategory.id}" th:if="${category.parentCategory != null}"></option>
        </select><br>
        <label>SKU (SKU-[A-Z]{4}[A-Z]{3}(\d{2}|[A-Z]))</label><br><!-- Format has to be controlled -->
        <input type="text" name="sku" value="SKU-" pattern="SKU-[A-Z]{4}[A-Z]{3}(\d{2}|[A-Z])" required><br>
        <label>Upload Image</label><br>
        <input type="file" id="productImg" name="productImage" accept="image/*"><br>
        <label>Variations</label><br><!-- Allow for up to 3 variation options to be mapped from MySQL -->
        <select id="variations" th:field="*{variations}">
            <option value="">Select an option</option>
            <option th:each="variation : ${variations}" th:value="${variation.id}" th:text="${variation.name}">  </option>
        </select><br>
        <label>Variation Options</label><br>
        <select id="variation-options" th:field="*{variationOptions}">
            <option value="">Select an option</option>
            <option th:each="variationOption : ${variationOptions}" th:value="${variationOption.id}" th:text="${variationOption.value}"></option>
        </select><br>
        <label>Price</label><br>
        <input type="number" id="price" name="price"><br>
        <label>Quantity</label><br>
        <input type="number" id="qty" name="quantity"><br>
        <button type="submit"> Submit </button>
    </form>
    </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/javascript/addProductForm.js}"></script>
</html>

