<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FreshFeet Admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
    href="/css/sidebar.css" th:href="@{/css/sidebar.css}"/>

</head>
<body>
    <div class="test">
    <!--------Logo-------->
            <a href="#">
            </a>
            <div>yourLogo</div>
    <!------ List -------->
            <ul >
    <!------Non Dropdown List------>
                <li>
                    <div>
                        <a href="#" ></a>
                        <span>Dashboard</span>
                    </div>
                <li>
                    <div>
                        <a href="#"></a>
                        <span>Inventory Management</span>
                        <!--Submenus-->
                    <div>
                        <a href="#">Add Product</a>
                    </div>
                        <div>
                            <a href="#">View All Products</a>
                        </div>
                        <div>
                            <a href="#">Manage Products</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

</body>
</html>