<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FreshFeet Admin</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
    href="/css/styles.css" th:href="@{/css/styles.css}"/>

</head>
<body>
    <div class="navbar">
    <!--------Logo-------->
            <a href="#">
            </a>
            <div class="logo">
                <img src="/logo/logo.png" th:src="@{/logo/logo.png}" alt="FreshFeet Logo">
            </div>
    <!------ List -------->
            <ul >
    <!------Non Dropdown List------>
                <li>
                    <div class="menuItem">
                        <a href="#" >
                        <span class="menuName">Dashboard</span>
                        </a>
                    </div>
                <li>
                    <div class="menuItem" id="inventoryManagement">
                        <a href="#">
                        <span class="menuName">Inventory Management</span>
                        </a>
                        <!--Submenus-->
                    <div class="dropdown">
                        <a href="#">Add Product</a>
                    </div>
                        <div class="dropdown">
                            <a href="#">View All Products</a>
                        </div>
                        <div class="dropdown">
                            <a href="#">Manage Products</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</body>
<script type="text/javascript" th:src="@{/javascript/sidebar.js}"></script>
</html>

